body {
    font-size:150%;
    text-align:center;
}

#texte {
    font-size:150%;
}

input {
    width:90%;
    text-align:center;
}

button {
    outline:none;
    text-decoration:none;
    display:inline-block;
    width:19.5%;
    margin-right:0.625%;
    text-align:center;
    line-height:3;
    color:black;
    background:mediumaquamarine;
    border:solid;
    border-color:black;
    font-size:150%;
}

.cesar {
    background:yellow;
}

.cesar:hover {
    background:orange;
}

.cesar:active {
    background:red;
}

.vigenere {
    background:mediumaquamarine;
}

.vigenere:hover {
    background:cyan;
}

.vigenere:active {
    background:white;
}

#resultat {
    outline:none;
    display:inline-block;
    border:solid;
    border-color:grey;
    width:90%;
    font-size:150%;
    height:100px;
    text-align:center;
}
