html {
    cursor: url("Images/Select.cur"), default;
    height: 45em;
}

body {
    font-size: 150%;
    background: #8a4b14;
    text-align: justify;
}

.bar {
    display: flex;
    justify-content: space-between;
}

.flex {
    display: flex;
}

button {
    font-weight: bold;
    font-family: inherit;
    text-decoration: none;
    color: black;
    background: none;
    border: none;
    font-size: 100%;
    margin: 0;
    padding: 0;
    text-align: left;
}

button:hover {
    color: #ffd700;
    cursor: url("Images/Hand.cur"), pointer;
}

button.menu {
    color: black;
    background: rgb(94, 94, 94);
    width: 10em;
    height: 2em;
    border: solid;
    border-color: black;
    text-align: center;
}

button.menu:hover {
    color: #ffd700;
    background: rgb(80, 80, 80);
    cursor: url("Images/Hand.cur"), pointer;
}

.zone {
    padding: 0.4em;
    border: solid;
    background-color: #7e430f;
    border-radius: 10px;
}

.carte {
    padding: 0.2em;
    margin: 0.2em;
    border: solid;
    border-radius: 10px;
    background: rgb(94, 94, 94);
    display: flex;
    justify-content: space-between;
}

.carte:hover {
    background: rgb(80, 80, 80);
}

.attaquant {
    background: rgb(99, 21, 21);
}

.attaquant:hover {
    background: rgb(99, 21, 21);
}

.action {
    position: relative;
    right: 0;
}

.affichage {
    overflow: auto;
    border: double;
    border-color: black;
    border-width: 0.4em;
    background: radial-gradient(#b6ad71, #afa465);
}

#boutique {
    padding: 0.2em;
    margin: 0.1em;
    border: solid;
    border-radius: 10px;
    background-color: #723d0e;
}

#main {
    width: 48%;
    height: 91%;
    position: fixed;
    overflow: auto;
    scrollbar-width: none;
}

#side {
    position: fixed;
    left: 50%;
    width: 48%;
    height: 91%;
    overflow: auto;
    scrollbar-width: none;
}

#carte_main {
    position: fixed;
    width: 48%;
    height: 91%;
    overflow: auto;
    display: none;
    scrollbar-width: none;
}

#carte_side {
    position: fixed;
    left: 50%;
    width: 48%;
    height: 91%;
    overflow: auto;
    display: none;
    scrollbar-width: none;
}

#message {
    position: fixed;
    display: none;
    text-align: center;
    left: 25%;
    top: 25%;
    width: 50%;
    height: 50%;
    scrollbar-width: none;
}

#description {
    position: absolute;
    margin-left: 12.5%;
    width: 75%;
    height: 30%;
    background-color: #bbad5c;
    border: double;
    font-style: italic;
    text-align: center;
    display: table;
}

#contenu {
    vertical-align: middle;
    display: table-cell;
}

input {
    cursor: url("Images/Hand.cur"), pointer;
}

select {
    background-color: #c0b577;
    font-size: 80%;
    scrollbar-width: none;
}

option {
    background-color: #c0b577;
}

.slidecontainer {
    width: 100%;
}

.slider {
    appearance: none;
    width: 25%;
    height: 25px;
    background: #c0b577;
    color: #bbad5c;
    border: solid;
    border-color: black;
}

.slider::-webkit-slider-thumb {
    appearance: none;
    width: 25px;
    height: 25px;
    border: double;
    border-color: black;
    background: #723d0e;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border: double;
    border-color: black;
    background: #723d0e;
}

::-webkit-scrollbar {
    display: none;
}

@media (max-width: 1000px) {
    * {
        box-sizing: border-box;
    }

    /* passer body (et tous les éléments de largeur fixe) en largeur automatique */

    body {
        width: auto;
        margin: 0;
        padding: 0;
    }

    /* fixer une largeur maximale de 100% aux éléments potentiellement problématiques */

    img,
    table,
    td,
    blockquote,
    code,
    pre,
    textarea,
    input,
    iframe,
    object,
    embed,
    video {
        max-width: 100%;
    }

    /* conserver le ratio des images */

    img {
        height: auto;
    }

    /* gestion des mots longs */

    textarea,
    table,
    td,
    th,
    code,
    pre,
    samp {
        -webkit-hyphens: auto;
        /* césure propre */
        -moz-hyphens: auto;
        hyphens: auto;
        word-wrap: break-word;
        /* passage à la ligne forcé */
    }

    code,
    pre,
    samp {
        white-space: pre-wrap;
        /* passage à la ligne spécifique pour les éléments à châsse fixe */
    }

    /* Passer à une seule colonne (à appliquer aux éléments multi-colonnes) */

    .element1,
    .element2 {
        float: none;
        width: auto;
    }

    /* masquer/afficher les éléments  */

    .u-mobile {
        display: block;
        display: revert !important;
        /* affichage des éléments */
    }

    .u-no-mobile {
        display: none !important;
        /* masquage des éléments */
    }
}

@media (max-device-width:1000px) {
    html {
        -webkit-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
    }

    .slider {
        width: 100%;
    }
}